html{
    font-size:100px;
}
body{
    background-color: #f5f3f3;
}
header{
    height: 1.12rem;
    background:#000;
    padding:0 0.15rem;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%
}
header .logo{
    width: 2.1rem;
    height: 0.62rem;
    background:url("../images/logo.png") center center no-repeat;
    float:left;
    background-size:cover;
    margin-top:0.25rem;
}
header .menu{
    width: 0.36rem;
    height: 0.32rem;
    background:url("../images/menu.png") center center no-repeat;
    float:right;
    background-size:cover;
    margin-top:0.4rem;
}
/* 主体区域 */
main{
    margin-top: 1.12rem;
    margin-bottom: 1.27rem;
}
.banner>li a{
    display: block;
    height: 3.43rem;
    background: url(../images/banner.png) center center no-repeat;
    background-size: cover;
}
.subject{
    padding:0.33rem 0.15rem 0;
}
.subject>h3{
    font-size: 0.26rem;
    background: url(../images/book.png) left center no-repeat;
    background-size: 0.29rem 0.37rem;
    text-indent: 0.36rem;
    margin-bottom: 0.3rem;
}
/* li */
.lists>li a{
    display: block;
}
.lists>li .coverbg{
    height: 2.8rem;
    background: url(../images/banner.png) center center no-repeat;
    background-size: cover;
}
.lists>li .info{
    height: 1.49rem;
    background-color: #fff;
    font-size: 0.28rem;
    box-sizing: border-box;
    text-align: center;
}
.lists>li h5{
    /* font-size: 0.28rem; */
    color: #777;
    padding:0.36rem 0 0.24rem;
    line-height: 1;
}
.lists>li p{
    color: #ED3A3A;
}
.lists>li{
    border-radius: 0.1rem;
    overflow: hidden;
    box-shadow: 0 0.04rem 0.1rem 0.01rem #777;
    margin-bottom: 0.2rem;
}
/* 底部 */
footer{
    width: 100%;
    height: 1.07rem;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 0.23rem;
    position: fixed;
    left:0;
    bottom: 0;
}
footer>a{
    display: block;
    width: 33.33%;
    font-size: 0.16rem;
    color: #ABABAB;
    text-align: center;
    float: left;
}
footer .icon{
    height: 0.32rem;
    width: 0.46rem;
    background: url(../images/subject1.png) center center no-repeat;
    background-size: contain;
    margin:0.21rem auto 0.14rem;
}